html {
  font-size: 16px;
  body {
    font-family: $familyRegular;
    &.rent {
      footer {
        background: $rent;
      }
      header nav.navbar .navbar-brand img {
        &.rto {
          display: none;
        }
        &.rent {
          display: inherit;
        }
      }
    }
    &.trade {
      footer {
        background: $trade;
      }
      header nav.navbar .navbar-brand img {
        &.rto {
          display: none;
        }
        &.trade {
          display: inherit;
        }
      }
    }
    &.own {
      footer {
        background: $own;
      }
      header nav.navbar .navbar-brand img {
        &.rto {
          display: none;
        }
        &.own {
          display: inherit;
        }
      }
    }
    .headingSec {
      small {
        font-size: 1rem;
        font-family: $familyLightItalic;
        color: $textDark;
        margin: 0;
      }
      h3 {
        font-size: 2.375rem;
        font-family: $familyRegular;
        color: $textDark;
        margin: 0;
        font-weight: normal;
        text-transform: uppercase;
        b {
          font-family: $familyBold;
          font-weight: normal;
        }
      }
    }
    .form-control {
      background: #f3f3f3;
      font-size: 0.9375rem;
      color: $textDark;
      border-color: #f3f3f3;
      &:focus {
        color: $textDark;
        background-color: #f3f3f3;
        border-color: #f3f3f3;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(180, 55, 30, 0.25);
      }
      @media (min-width: 767px) {
        height: calc(2.134em + 0.75rem + 2px);
      }
    }
    textarea {
      &.form-control {
        height: auto;
        resize: none;
        padding: 0.8rem 0.75rem;
      }
    }
    header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      nav {
        &.navbar {
          background: #fff;
          border-radius: 0 0 5px 5px;
          .navbar-brand {
            img {
              margin-bottom: 0;
              display: none;
              &.rto {
                display: inherit;
              }
            }
          }
          .navbar-nav {
            .highlight-home {
              background: $rent;
              a {
                color: $white !important;
              }
            }
            .highlight-rent {
              background: $rent;
              a {
                color: $white !important;
              }
            }
            .highlight-trade {
              background: $trade;
              a {
                color: $white !important;
              }
            }
            .highlight-own {
              background: $own;
              a {
                color: $white !important;
              }
            }
            .highlight-login {
              background: $own;
              a {
                color: $white !important;
              }
            }
            .highlight-testimonials {
              background: $rent;
              a {
                color: $white !important;
              }
            }
            .highlight-membership {
              background: $rent;
              a {
                color: $white !important;
              }
            }
            .nav-link {
              padding-left: 1rem;
              padding-right: 1rem;
              font-size: 1rem;
              color: $nav;
              transition: all 0.15s ease-in-out;
              &.active,
              &:hover {
                background: $rent;
                color: $white;
              }
              &.nav-rent {
                &.active,
                &:hover {
                  background: $rent;
                  color: $white;
                }
              }
              &.nav-trade {
                &.active,
                &:hover {
                  background: $trade;
                  color: $white;
                }
              }
              &.nav-own {
                &.active,
                &:hover {
                  background: $own;
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
    .sliderSec {
      .slick-slider {
        .slick-arrow {
          z-index: 1;
          width: 70px;
          height: 40px;
          text-align: center;
          &::before {
            content: "";
            background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23ffffff%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
            height: 40px;
            width: 40px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            display: inline-block;
          }
          &.slick-prev {
            left: 0;
            &::before {
              transform: rotate(90deg);
            }
          }
          &.slick-next {
            right: 0;
            &::before {
              transform: rotate(-90deg);
            }
          }
          @media (max-width: 767px) {
            width: 40px;
            &:before {
              width: 25px;
            }
          }
        }
        .slick-slide {
          .slide-item {
            position: relative;
            display: block !important;
            img {
              height: 75vh;
              width: 100%;
              object-fit: cover;
              object-position: top;
              min-height: 50rem;
            }
            .sliderCaption {
              position: absolute;
              left: 0;
              top: calc(50% - (8.75rem / 2) + (67px / 2));
              width: 100%;
              transform: translateY(-50%);
              color: $white;
              z-index: 2;
              .sliderCaptionHolder {
                max-width: 38rem;
                margin: 0 auto;
                text-align: center;
              }
              h2 {
                font-size: 3rem;
                text-transform: uppercase;
                font-family: $familyBold;
              }
              p {
                font-size: 1.25rem;
              }
              @media (max-width: 767px) {
              }
            }
            @media (max-width: 767px) {
              min-height: 35rem;
              .sliderCaptionHolder {
                padding: 0 15px;
              }
              .sliderCaption {
                h2 {
                  font-size: 1.5rem;
                }
                p {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }
    .rtoCalloutContainer {
      margin-bottom: 5rem;
      @media (max-width: 767px) {
        margin-bottom: 3rem;
      }
      .rtoCalloutBlock {
        text-align: center;
        background: $white;
        padding: 30px 15px;
        color: $white;
        i {
          width: 7.25rem;
          height: 7.25rem;
          background: $white;
          display: flex;
          border-radius: 100%;
          margin: 0 auto 1.5rem auto;
          justify-content: center;
          align-items: center;
          img {
            max-width: 80%;
            max-height: 80%;
          }
        }
        h4 {
          font-family: $familySemibold;
          font-size: 1.375rem;
          text-transform: uppercase;
          font-weight: normal;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1.125rem;
          margin-bottom: 1.5rem;
          b {
            font-family: $familySemibold;
            font-weight: normal;
          }
        }
        &.rent {
          background: $rent;
          .btn-light {
            color: $rent;
          }
        }
        &.trade {
          background: $trade;
          .btn-light {
            color: $trade;
          }
        }
        &.own {
          background: $own;
          .btn-light {
            color: $own;
          }
        }
      }
    }
    .membershipContainer {
      position: relative;
      margin-bottom: 4rem;
      display: flex;
      &::before {
        content: "";
        background: url("../../images/membership-bg.jpg") top center no-repeat;
        background-size: cover;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 32rem;
      }
      &::after {
        content: "";
        background: rgba(246, 173, 88, 0.54);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 32rem;
      }
      .membershipHolder {
        position: relative;
        margin-top: 6.25rem;
        z-index: 1;
        width: 100%;
        &::before {
          content: "";
          background: $white;
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
        }
      }
      .membershipSec {
        position: relative;
        z-index: 2;
        padding: 3.5rem 0 1rem 0;
        .membershipContentSec {
          width: 50%;
          padding: 0 15px;
          position: relative;
          .headingSec {
            margin-bottom: 1.5rem;
          }
          p {
            color: $textDesc;
            font-size: 0.9375rem;
          }
          ul {
            margin: 0;
            padding: 1rem 0 0 0;
            list-style-type: none;
            li {
              color: $textDark;
              font-size: 0.9375rem;
              font-family: $familySemibold;
              margin: 0 0 1.5rem 0;
              background-image: url("../../images/list-item.png");
              background-position: left 2px;
              background-repeat: no-repeat;
              padding-left: 40px;
            }
          }
        }
        .membershipImgSec {
          width: 50%;
          padding: 0 15px;
          text-align: right;
          padding-top: 4rem;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          max-width: 110%;
          @media (max-width: 991px) {
            img {
              max-width: 100%;
            }
          }
        }
      }
      @media (max-width: 767px) {
        margin-bottom: 3rem;
        &:before {
          top: unset;
          bottom: 0;
        }
        &:after {
          top: unset;
          bottom: 0;
        }
        .membershipHolder {
          margin-top: 0.25rem;
          &:before {
            width: 0;
          }
        }
        .membershipSec {
          padding: 0 0 1rem 0;
          .membershipContentSec {
            width: 100%;
          }
          .membershipImgSec {
            width: 100%;
          }
        }
      }
    }
    .homeRtoCalloutSp {
      .rtoCalloutContainer {
        margin-top: -8.75rem;
      }
      .tabRtoContainer {
        margin-top: -8.75rem;
      }
    }
    .contactContainer {
      padding: 0 0 2rem 0;
      .headingSec {
        margin-bottom: 3rem;
      }
      .contactFormSec {
        .form-group {
          margin-bottom: 20px;
        }
        @media (max-width: 767px) {
          .form-group {
            padding-top: 0;
            margin-bottom: 15px;
          }
        }
      }
    }
    .waveCalloutContainer {
      background-image: url("../../images/bg-wave.png");
      background-position: center 35px;
      background-repeat: no-repeat;
      padding-bottom: 2.5rem;
      .waveCalloutBlock {
        text-align: center;
        padding: 0;
        i {
          width: 4.75rem;
          height: 4.75rem;
          background: $own;
          display: flex;
          border-radius: 100%;
          margin: 0 auto 1.5rem auto;
          justify-content: center;
          align-items: center;
          img {
            max-width: 80%;
            max-height: 80%;
          }
        }
        h4 {
          font-family: $familySemibold;
          font-size: 1.125rem;
          text-transform: uppercase;
          font-weight: normal;
          margin-bottom: 1rem;
        }
        p {
          font-size: 0.9375rem;
          margin-bottom: 1.5rem;
          color: $textDesc;
          b {
            font-family: $familySemibold;
            font-weight: normal;
          }
        }
        &.blockOne {
          margin-top: 0;
        }
        &.blockTwo {
          margin-top: 3.8rem;
        }
        &.blockThree {
          margin-top: 2.4rem;
        }
      }
    }
    .testimonialsContainer {
      position: relative;
      margin-bottom: 4rem;
      &::before {
        content: "";
        background: url("../../images/testimonial-bg.jpg") center center
          no-repeat;
        background-size: cover;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &::after {
        content: "";
        background: rgba(180, 55, 30, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .testimonialSec {
        position: relative;
        z-index: 1;
        color: $white;
        padding: 5rem 0;
        .headingSec {
          margin-bottom: 2rem;
          small {
            color: $white;
          }
          h3 {
            color: $white;
          }
        }
        .testimonialSliderHolder {
          .slick-arrow {
            z-index: 1;
            width: 20px;
            height: 20px;
            text-align: center;
            top: calc(50% - 60px);
            &::before {
              content: "";
              background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23ffffff%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
              height: 100%;
              width: 100%;
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              display: inline-block;
            }
            &.slick-prev {
              left: 0;
              &::before {
                transform: rotate(90deg);
              }
            }
            &.slick-next {
              right: 0;
              &::before {
                transform: rotate(-90deg);
              }
            }
          }
          .slick-list {
            padding-bottom: 2rem;
          }
          .slick-dots li button:before {
            font-size: 14px;
            color: $white;
          }
          .slide-item {
            .testimonialsContent {
              text-align: center;
              padding: 0 2rem;
              max-width: 60rem;
              margin: 0 auto;
              p {
                font-size: 1.125rem;
                line-height: 34px;
              }
              i {
                display: inline-block;
              }
              small {
                display: block;
                font-size: 1.125rem;
                font-family: $familyLightItalic;
              }
            }
          }
        }
      }
    }
    .tabRtoContainer {
      position: relative;
      margin-bottom: 5rem;
      .tabRtoSec {
        .tabRtoHolder {
          .nav {
            border: 0;
            li {
              width: 33.33333%;
              margin-bottom: 0;
              .nav-link {
                border: 0;
                padding: 16px 20px;
                color: $white;
                border-radius: 0;
                font-size: 1.125rem;
                text-transform: uppercase;
                font-family: $familySemibold;
              }
              &.rent {
                .nav-link {
                  background: $rent;
                }
              }
              &.trade {
                .nav-link {
                  background: $trade;
                }
              }
              &.own {
                .nav-link {
                  background: $own;
                }
              }
            }
          }
          .tab-content {
            .tab-pane {
              padding: 3.125rem 0 0;
              .closeButton {
                color: #fff;
              }
              .tabFormHolder {
                padding: 0px 15px 15px;
                .car-menu-container {
                  .heading {
                    text-align: center;
                    padding: 4px;
                    font-size: 20px;
                    color: #fff;
                  }
                  .display-jumbotron {
                    text-align: center;
                    background: rgb(180, 55, 30);
                    border: 1px solid #ccc;
                    margin: 4px;
                    flex-grow: 1;
                    // padding: 4px;
                    padding: 14px 6px 6px;
                    border-radius: 4px;
                    color: #fff;
                    .link {
                      color: #fff;
                      font-size: 24px;
                      @media (max-width: 767px) {
                        font-size: 15px;
                      }
                    }
                    .link-div {
                      font-size: 20px;
                      @media (max-width: 767px) {
                        font-size: 16px;
                      }
                    }
                    .start-here-div {
                      display: flex;
                      justify-content: flex-end;
                      .start-here {
                        color: #fff;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        padding: 5px 11px;
                      }
                      @media (max-width: 767px) {
                        justify-content: center;
                        .start-here {
                          font-size: 0.8rem;
                        }
                      }
                      .start-here-rent {
                        background-color: #b4371e;
                      }
                      .start-here-own {
                        background-color: #efaa52;
                      }
                    }
                  }
                  .form-group {
                    margin-top: 44px;
                  }
                  @media (min-width: 767px) {
                    background-color: #fff;
                    border: 1px solid #ccc;
                  }
                }
                .facebook-parent {
                  text-align: center;
                  .facebook {
                    text-align: center;
                    flex: 1 1;
                    background: none;
                    border: none;
                    color: #fff;
                    font-size: 24px;
                    b {
                      color: #fff;
                    }
                  }
                }
                .gmail-parent {
                  text-align: center;
                  .gmail {
                    text-align: center;
                    flex: 1 1;
                    background: none !important;
                    border: none !important;
                    color: #fff !important;
                    font-size: 24px;
                    b {
                      color: #fff;
                    }
                  }
                }
                .form-control {
                  background: $white;
                }
                .descriptionSec {
                  padding-bottom: 1rem;
                  p {
                    font-size: 1.5rem;
                    color: $white;
                    text-align: center;
                    b {
                      font-family: $familySemibold;
                    }
                    @media (max-width: 767px) {
                      font-size: 1.25rem;
                    }
                  }
                }
                .trade-form {
                  .row {
                    color: #fff;
                    .highlight-error {
                      font-size: 14px;
                      color: #fff;
                    }
                    .error {
                      font-size: 14px;
                    }
                  }
                }
                .descriptionSecFooter {
                  padding-bottom: 1rem;
                  p {
                    font-size: 1.125rem;
                    color: $white;
                    text-align: center;
                    b {
                      font-family: $familySemibold;
                    }
                  }
                }
                .identity-row {
                  align-items: center;
                  justify-content: center;
                  .descriptionSecPhone {
                    margin-bottom: 1rem;
                    font-size: 1.22rem;
                    color: $white;
                    text-align: center;
                    p {
                      b {
                        font-family: $familySemibold;
                      }
                    }
                  }
                }
                .fb-gmail-parent {
                  padding-bottom: 4rem !important;
                }

                .rent-search-btn {
                  margin-top: 8px;
                  @media (max-width: 767px) {
                    margin-top: 0;
                  }
                  .disable-search-btn {
                    border: 1px solid #999999 !important;
                    background-color: #cccccc !important;
                    color: #666666 !important;
                  }
                  .search-btn {
                    background: #fff;
                    color: #000;
                    height: 40px;
                    border-radius: 0px;
                  }
                }
              }

              &.rent {
                background: $rent;
              }
              &.trade {
                background: $trade;
              }
              &.own {
                background: $own;
              }
            }
          }
          &.rent {
            .tab-content {
              .tab-pane {
                &.rent {
                  display: block;
                  opacity: 1;
                }
              }
            }
          }
          &.trade {
            .tab-content {
              .tab-pane {
                &.trade {
                  display: block;
                  opacity: 1;
                }
              }
            }
          }
          &.own {
            .tab-content {
              .tab-pane {
                &.own {
                  display: block;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
    footer {
      background: $rent;
      .footerSec {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 0;
        p {
          font-size: 1.125rem;
          color: $white;
          margin: 0;
        }
        ul {
          display: flex;
          align-items: center;
          margin: 0;
          padding: 0;
          list-style-type: none;
          li {
            margin: 0;
            padding: 0 15px;
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              svg {
                height: 22px;
                width: 22px;
                path {
                  fill: $white;
                }
              }
            }
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}
.carCard {
  font-size: 2rem !important;
  @media (max-width: 767px) {
    font-size: 1.7rem !important;
  }
}
.carCarryDetail {
  width: 44%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .people-parent {
    display: flex;
    align-items: baseline;
    .people {
      margin-right: 2px;
    }
  }
  .briefcase-parent {
    display: flex;
    align-items: baseline;
    .briefcase {
      margin-right: 2px;
    }
  }
  @media (max-width: 767px) {
    width: 100%;
    justify-content: center;
    > span {
      margin: 0 3px;
    }
  }
}
.featurePriceDetail {
  margin-left: 4px;
}
.timePicker-container {
  .MuiFormControl-root {
    margin: 0;
    width: 100%;
    max-width: 300px;
    width: 100%;
    .MuiInputBase-root {
      border-radius: 6px;
      height: 55px;
    }
    .MuiSelect-root {
      font-size: 18px;
    }
    @media (max-width: 991px) {
      max-width: 100%;
    }
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
  @media (max-width: 1024px) {
    .MuiSelect-root {
      font-size: 15px;
    }
  }
}
.btn {
  font-weight: 300 !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.vehicleFeature-body {
  ul {
    padding: 0;
    margin: 10px -10px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-position: inside;
    li {
      padding: 0 10px;
    }
  }
}
.MuiTypography-gutterBottom {
  padding: 0 10px;
}

.flatpickr-input {
  min-width: auto !important;
}
@media (max-width: 1024px) {
  .flatpickr-input {
    font-size: 16px !important;
  }
}
@media (max-width: 767px) {
  .MuiDialog-paper {
    margin: 20px 15px !important;
  }
}
.paylaterGrid {
  @media (max-width: 767px) {
    position: relative;
    h4 {
      margin: 0 0 0.15em;
      font-size: 1.5rem;
    }
    h6 {
      line-height: normal;
    }
    hr {
      height: 75%;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}
@media (max-width: 767px) {
  .text-small {
    font-size: 16px !important;
  }
}
